<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true">



    <context:property-placeholder location="classpath*:jsonrpc.properties" />

    <bean class="com.googlecode.jsonrpc4j.spring.AutoJsonRpcClientProxyCreator">
        <property name="baseUrl" value="${jsonrpc.server.host}" />
        <property name="scanPackage" value="com.zhaoshg.rpc.service" />
    </bean>

</beans>